$--font-path: 'element-ui/lib/theme-chalk/fonts';

$--color-primary: #528cc7;
$--color-success: #99c14c;
$--color-warning: #e49d39;
$--color-danger: #d64f65;
$--color-info: #52c2c2;

@import 'element-ui/packages/theme-chalk/src/index';
